<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.jayeshsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.jayeshsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">

        <activity
            android:name="com.jayeshsapplication.app.modules.feeds.ui.FeedsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.jayeshsapplication.app.modules.uploadimage.ui.UploadImageActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.jayeshsapplication.app.modules.introone.ui.IntroOneActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.jayeshsapplication.app.modules.introtwo.ui.IntroTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.jayeshsapplication.app.modules.introthree.ui.IntroThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.jayeshsapplication.app.modules.welcome.ui.WelcomeActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
